* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: black;
}

:root {
    /* --Navbar-background-color: rgb(39, 114, 205); */
    --Navbar-background-color: rgb(13, 64, 174);
    --navbar-text-color: #ffffff;
    --navbar-text-color-hover: #d5d5d5;
}

/* NAV ============ */

nav {
    height: 55px;
    background-color: var(--Navbar-background-color);
}
.Navbar-nav .Navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

/* .Navbar-nav .Navbar-header:last-child {
    margin-right: auto;
} */

.Navbar-nav .Navbar-header .logo{
    margin-left: 20px;
}
.logo h1:hover{
    color: var(--navbar-text-color);
}

.Navbar-header ul {
    display: flex;
    margin-left: auto;
    margin-top: 15px;
}
.Navbar-header ul li {
    list-style: none;
    margin: 0 10px;
    font-size: 16px;
}

/* ul .Regi-login:last-child {
    margin-left: auto;
} */

.Navbar-header ul li a{
    padding: 5px;
}
.Navbar-header ul li a:hover {
    color: var(--navbar-text-color-hover);
}
.Navbar-header ul li:hover {
    color: var(--navbar-text-color-hover);
    transform: scale(1.1);
}

.Navbar-header a {
    text-decoration: none;
    color: var(--navbar-text-color);
}

/* ul {
    margin-top: 0;
    margin-bottom: 0;
} */

/* Side bar =========== */

ul .sidebar {
    display: none;
}
.menu-button button{
    display: none;
    background-color: transparent;
    border-style: none;
    height: 100%;
    color: #ffffff;
}
.menu-button button svg line,
.menu-button button svg path {
    color: #ffffff;
}

@media (max-width: 600px) {
    .menu-button button{
        display: block;
        margin-right: 10px;
    }
    .Navbar-header .center-item,
    .Navbar-header .Regi-login {
        display: none;
    }
    .Navbar-header .sidebar {
        position: absolute;
        flex-direction: column;
        top: 40px;
        right: 0;
        width: 100%;
        background-color: var(--Navbar-background-color);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);

    }
    .Navbar-header .sidebar li {
        margin: 15px 0;
        width: 100%;
        text-align: center;
    }
    .Navbar-header .sidebar li:first-child {
        margin-top: 25px;
    }
    .Navbar-header ul li:hover {
        color: var(--navbar-text-color-hover);
        transform: scale(.9);
    }
}

@media (max-width: 393px) {
    .Navbar-header .sidebar {
        top: 38px;
    }
}