/* LOGIN ===== */

:root {
    --login-text-color: #000000;
    --login-background-color: #ffffff;
    --login-button-background-color: #dddddd;
    --login-button-background-color-hover: #dddddd;
    --login-button-color: #ffffff;
}

.login {
    height: 92vh;
    width: 100%;
}

.login .form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Heading */
.login .form-login h1 {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 15px;
}

/* Form */
.login .form-login .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login .form-login .form input {
    margin: 5px;
    border-radius: 5px;
    border: black 1px solid;
    padding: 2px 10px;
    outline: none;
    width: 120%;
}
.login .form-login .form label {
    margin-top: 10px;
}

.login .form-login .form p {
    font-size: 14px;
}
.login .form-login .form p a {
    color: #000000;
    text-decoration: none;
}
.login .form-login .form p a:hover {
    text-decoration: underline;
}
/* Button login */
.login .form-login .form .login-btn {
    padding: 4px 25px;
    border: none;
    border-radius: 16px;
    background-color: blue;
    color: var(--login-button-color);
}
.login .form-login .form .login-btn:hover {
    background-color: rgb(48, 48, 176);
}
